{{ define "header" }}
  {{ partial "header/site-header.html" . }}
{{ end }}


{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ if .PublishDate }}
    {{ .PublishDate.Format "Jan 2, 2006" }}
  {{ end }}
  {{ if .GetTerms "tags" }}
    <nav class='tags'>
      <ul class='tags'>{{ range (.GetTerms "tags") }}
        <li><a href='{{ .Permalink }}'>{{ .LinkTitle }}</a></li>
      {{ end }}</ul>
    </nav>
  {{ end }}
  <article>
    {{ .Content }}
  </article>
{{ end }}

{{ define "comments" }}{{ if .Params.allowComments }}
<section id='comments'>
  <script src="https://utteranc.es/client.js"
          repo="shaolang/shaolang.github.io"
          issue-term="pathname"
          label="blogcomment"
          theme="github-light"
          crossorigin="anonymous"
          async>
  </script>
</section>
{{ end }}{{ end }}
